{% load static %}

<section class="bg-[#F7F6F2]">
    <div class="container py-36">
        <p class="text-5xl font-bold">Our values</p>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 pt-12">
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/ourvalues1.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Innovation</h1>
                <p class="text-lg">
                    We drive progress by embracing new ideas and technologies in the field of artificial intelligence.
                </p>
            </div>
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/ourvalues2.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Integrity</h1>
                <p class="text-lg">
                    We maintain transparency and honesty in all our dealings, fostering trust with our clients and partners.
                </p>
            </div>
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/ourvalues3.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Customer Focus</h1>
                <p class="text-lg">
                    We prioritize the needs of our clients, ensuring our solutions meet their unique challenges.
                </p>
            </div>
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/ourvalues4.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Excellence</h1>
                <p class="text-lg">
                    We strive for the highest standards in our work, delivering quality that exceeds expectations.
                </p>
            </div>
        </div>
    </div>
</section>