# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.mo
*.sqlite3
*.db
*.db-journal

# Environments
.env
.env.*
!.env.example
venv/
env/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# User uploads / generated static output
/media/
/staticfiles/

# Node
node_modules/

# Other
*.bak
*.swp
*.swo

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.db
*/migrations/*.sqlite3
!*/migrations/__init__.py
