annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
bcrypt==4.2.0
click==8.1.7
Django==4.2
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-extra-fields==3.7.0
fastapi==0.113.0
filetype==1.2.0
h11==0.14.0
idna==3.8
pillow==10.4.0
pydantic==2.9.0
pydantic_core==2.23.2
PyJWT==2.9.0
PyPDF2==3.0.1
python-decouple==3.8
sniffio==1.3.1
sqlparse==0.5.1
starlette==0.38.4
typing_extensions==4.12.2
tzdata==2024.1
uvicorn==0.30.6
django-browser-reload
python-slugify
django-ckeditor-5
django-jazzmin
stripe
openai
django-cors-headers
sorl-thumbnail
python-decouple
