{% extends "mainbase.html" %}
{% load static %}


{% block css %}
<style>
    .alert-danger {
        color: red !important;
    }
</style>
{{ form.media }}

{% endblock %}


{% block content %}

<section class="py-28 container">
    {% if messages %}
    <ul class="messages text-center pb-12 text-blue-600 text-xl">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 class="text-5xl font-bold mb-4 text-center">Discover AI Solutions Today</h2>

    {% comment %} <form method="post" enctype="multipart/form-data" class="container grid gap-5">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="text-xl">Title</label>
            {{ form.title }}
        </div>
        {% if form.title.errors %}
        {% for error in form.title.errors %}
        <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="{{ form.thumbnail.id_for_label }}" class="text-xl">Thumbnail</label>
            {{ form.thumbnail }}
        </div>

        <div class="form-group">
            <label for="{{ form.body.id_for_label }}" class="text-xl">Body</label>
            {{ form.body }}
        </div>

        <button type="submit" class="bg-blue-800 rounded-lg text-white py-4 text-xl">Save</button>
    </form> {% endcomment %}


    <form method="POST" enctype="multipart/form-data" class="container grid gap-5">
        {% csrf_token %}

        <!-- Display non-field errors (general form errors) -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}


        {{ form.as_p }}

        <button class="bg-blue-700 py-4 rounded-md text-xl text-white" type="submit">Submit</button>
    </form>
</section>

{% endblock content %}