{% load static %}

<section class="text-center" style="background-image: url('{% static 'assets/images/discoverai.webp' %}');">
    <div class="w-full h-full bg-white py-48 bg-opacity-80 flex flex-col gap-5">
        <h2 class="text-6xl font-bold mb-4">Discover AI Solutions Today</h2>
        <p class="text-2xl mb-8">Harness the power of AI with Aapplify.</p>
        <div>
            <a href="/knowledge-base/contact-support/" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 text-xl">Contact Support</a>
        </div>
    </div>
</section>