{% load static %}

<section id="gallery" class="py-20">
  <!-- Swiper -->
  <div class="swiper gallerySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="{% static 'assets/images/gallery/gallery1.webp' %}"/></div>
      <div class="swiper-slide"><img src="{% static 'assets/images/gallery/gallery2.webp' %}"/></div>
      <div class="swiper-slide"><img src="{% static 'assets/images/gallery/gallery3.webp' %}"/></div>
      <div class="swiper-slide"><img src="{% static 'assets/images/gallery/gallery4.webp' %}"/></div>
      <div class="swiper-slide"><img src="{% static 'assets/images/gallery/gallery5.webp' %}"/></div>
      <div class="swiper-slide"><img src="{% static 'assets/images/gallery/gallery6.webp' %}"/></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
