{% load static %}

<section class="container pb-20 introduction">
  <h1 class="text-5xl font-bold pt-36">Introducing Our Services</h1>
  <div class="grid lg:grid-cols-2 gap-20 pt-12">
    <div class="elem">
      <div class="w-full h-96 pb-8">
        <img
          class="w-full rounded-lg h-full object-cover object-center"
          src="{% static 'assets/images/intro1.webp' %}"
          alt=""
        />
      </div>
      <h1 class="text-2xl font-semibold">Custom AI Solutions</h1>
      <p class="text-lg">
        We develop tailored AI solutions to meet your business needs and boost
        efficiency.
      </p>
    </div>
    <div class="elem">
      <div class="w-full h-96 pb-8">
        <img
          class="w-full rounded-lg h-full object-cover object-center"
          src="{% static 'assets/images/intro2.webp' %}"
          alt=""
        />
      </div>
      <h1 class="text-2xl font-semibold">Data Analytics Insights</h1>
      <p class="text-lg">
        Our team provides deep data insights to help you make informed business
        decisions.
      </p>
    </div>
    <div class="elem">
      <div class="w-full h-96 pb-8">
        <img
          class="w-full rounded-lg h-full object-cover object-center"
          src="{% static 'assets/images/intro3.webp' %}"
          alt=""
        />
      </div>
      <h1 class="text-2xl font-semibold">Custom AI Solutions</h1>
      <p class="text-lg">
        We develop tailored AI solutions to meet your business needs and boost
        efficiency.
      </p>
    </div>
    <div class="elem">
      <div class="w-full h-96 pb-8">
        <img
          class="w-full rounded-lg h-full object-cover object-center"
          src="{% static 'assets/images/intro4.webp' %}"
          alt=""
        />
      </div>
      <h1 class="text-2xl font-semibold">Custom AI Solutions</h1>
      <p class="text-lg">
        We develop tailored AI solutions to meet your business needs and boost
        efficiency.
      </p>
    </div>
  </div>
</section>
