{% load static %}

<section class="text-start" style="background-image: url('{% static 'assets/images/intro4.webp' %}');">
    <div class="w-full h-full bg-white py-48 bg-opacity-60 flex flex-col gap-5">
        <div class="container">
            <h2 class="text-6xl font-bold mb-4 pb-5">Services</h2>
            {% comment %} <div>
                <a href="#" class="bg-blue-500 text-white px-6 py-3 rounded-md hover:bg-blue-600 text-xl">Get In touch</a>
            </div> {% endcomment %}
        </div>
    </div>
</section>