{% load static %}

<section class="bg-[#172620]">
    <div class="max-w-screen">
        <img class="w-full h-[480px] object-cover object-center" src="{% static 'assets/images/intro4.webp' %}" alt="">
    </div>
    <div class="container">
        <div class="grid md:grid-cols-3 gap-10 py-20 text-white">
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/intro4.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Innovation</h1>
                <p class="text-lg">
                    We drive progress by embracing new ideas and technologies in the field of artificial intelligence.
                </p>
            </div>
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/intro3.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Integrity</h1>
                <p class="text-lg">
                    We maintain transparency and honesty in all our dealings, fostering trust with our clients and partners.
                </p>
            </div>
            <div class="">
                <div class="w-full h-96 pb-8">
                    <img class="w-full rounded-lg h-full object-cover object-center" src="{% static 'assets/images/intro2.webp' %}" alt="">
                </div>
                <h1 class="text-2xl font-semibold">Customer Focus</h1>
                <p class="text-lg">
                    We prioritize the needs of our clients, ensuring our solutions meet their unique challenges.
                </p>
            </div>
        </div>
    </div>
</section>